@model SPaPS.Models.AccountModels.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрирај се</h2>
<br />

<form asp-action="Register" method="post">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="Role" asp-items="@ViewBag.Roles" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="Role"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                <label asp-for="Email"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber">
                <label asp-for="PhoneNumber"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                <label asp-for="Address"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="IdNo" type="text" class="form-control" placeholder="IdNo">
                <label asp-for="IdNo"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="ClientTypeId" asp-items="@ViewBag.ClientTypes" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="ClientTypeId"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CityId" asp-items="@ViewBag.Cities" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CityId"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CountryId"></label>
            </div>
        </div>
        <div class="col-md-3 col-6 NoOfEmployees d-none">
            <div class="form-floating mb-3">
                <input asp-for="NoOfEmployees" type="number" class="form-control" placeholder="NoOfEmployees">
                <label asp-for="NoOfEmployees"></label>
            </div>
        </div>
        <div class="col-md-3 col-6 DateOfEstablishment d-none">
            <div class="form-floating mb-3">
                <input asp-for="DateOfEstablishment" type="date" class="form-control" placeholder="DateOfEstablishment">
                <label asp-for="DateOfEstablishment"></label>
            </div>
        </div>
        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>

